/* You can add global styles to this file, and also import other style files */

body, html {
    margin: 0;
    padding: 0;
}

:root {
    --font-montserrat: 'Montserrat', sans-serif;

    --color-primaria: #415D43;
    --color-secundaria: #718573;

    --font-weigt-normal: 400;
}

